@import './base.css';

#app {
  /* 上边下边 | 左边右边, 设置左右为auto来居中 */
  margin: 0 auto;
  padding: 0 0;
  font-weight: normal;
  max-width: 1440px;
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
} */

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-content: center;
  } */

  #app {
    /* 上边下边 | 左边右边 */
    padding: 0 0;
  }
}
